<div class="container-fluid m-0 p-0">
  <div class="row mt-3">
    <div class="col-12 text-center">
      <h1>SERVICE</h1>
    </div>
  </div>
  <!--CREATE AND SEARCH-->
  <div class="row">
    <!--CREATE-->
    <div class="col-6">
      <button class="btn btn-primary m-2">
        <a routerLink="/services/create" class="text-decoration-none text-white">Create</a>
      </button>
    </div>
    <!--SEARCH-->
    <div class="col-6">
      <form class="w-100" [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="input-group" style="float: right; width: 70%">
          <select class="form-control mt-2 mb-2" formControlName="type">
            <option>Rent Type</option>
            <option *ngFor="let o of rentType">{{o.name}}</option>
          </select>
          <input type="text" class="form-control mt-2 mb-2 ms-1" placeholder="Search by name here" id="input-search"
                 name="input-search" formControlName="name">
          <button class="btn btn-outline-secondary mt-2 mb-2 me-2" type="submit" id="button-addon2">Search
          </button>
        </div>
      </form>
    </div>
  </div>

  <!--LIST-->
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Rent type</th>
          <th>Cost (VNĐ)</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let service of pageSlice" mat-raised-button>
          <td (click)="openDialog(service.id)">{{service.id}}</td>
          <td (click)="openDialog(service.id)">{{service.name}}</td>
          <td (click)="openDialog(service.id)">{{service.rentType.name}}</td>
          <td (click)="openDialog(service.id)">{{service.cost}}</td>
          <td (click)="openDialog(service.id)" [textContent]="service.isAvailable ? 'Available' : 'Not available'">
<!--            <span *ngSwitchCase="0">Female</span>-->
<!--            <span *ngSwitchCase="1">Male</span>-->
<!--            <span *ngSwitchDefault>Other</span>-->
          </td>
          <td>
            <input type="checkbox" (change)="isChecked($event,service.id)"
                   [checked]="checkedArr.includes(service.id)">
          </td>
        </tr>
        </tbody>
      </table>
      <!--Multiple delete-->
      <button class="btn btn-danger d-flex float-end w-auto" style="right: 16px" id="btn-multi-delete"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete
      </button>
    </div>
  </div>
  <!--PAGINATION-->
  <div class="d-flex justify-content-center">
    <mat-paginator class="bg-black bg-opacity-50" [length]="listServices.length"
                   [pageSize]="pageSize" [pageSizeOptions]="[3, 5, 10, 20]" (page)="changePage($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
  <!--MODAL-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
       data-bs-keyboard="false" aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Confirm?</h5>
        </div>
        <div class="modal-body">
          Are you sure to delete service(s)?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-confirm-no">No
          </button>
          <button type="button" class="btn btn-danger" id="btn-confirm-yes" data-bs-dismiss="modal" (click)="delete()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Hết model-->
</div>
