<h1>Danh sách sản phẩm</h1>
<table>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Category</td>
    <td>Action</td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td><a routerLink="/product/edit/{{product.id}}">{{i + 1}}</a></td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name}}</td>
    <td>
      <button (click)="delete(product.id)">Delete</button>
    </td>
  </tr>
</table>
