<footer style="margin-top: 400px">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 text-center">
      <p>
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        Furama Resort | Source code is
        <i class="icon-heart color-danger" aria-hidden="true"></i>
        <a href="https://github.com/manhdung98na/C0421G1_NguyenManhDung_Module5/tree/master/case-study"
           target="_blank">here</a>
      </p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 text-center">
      <a href="?lang=en">EN</a>&nbsp;|&nbsp;
      <a href="?lang=vi">VI</a>
    </div>
  </div>
</footer>
