<h3 class="text-center" mat-dialog-title>CUSTOMER DETAIL</h3>
<mat-dialog-content>
  <table class="table w-100">
    <tr>
      <th class="w-25 m-2">ID</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.id">
      </td>
    </tr>
    <tr>
      <th>Movie</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.movie.name">
      </td>
    </tr>
    <tr>
      <th>Date</th>
      <td>
        <input type="date" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.date">
      </td>
    </tr>
    <tr>
      <th>Tickets</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.tickets">
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
  <button mat-button mat-dialog-close="edit" class="btn btn-warning m-1">Edit</button>
  <button mat-button mat-dialog-close class="btn btn-secondary m-1">Back</button>
</mat-dialog-actions>
