<div class="container-fluid m-0 p-0">
  <div class="row mt-3">
    <div class="col-12 text-center">
      <h1>EMPLOYEE</h1>
    </div>
  </div>
  <!--Create and Search-->
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary m-2">
        <a href="/employee/create" class="text-decoration-none text-white">Create</a>
      </button>
    </div>
    <div class="col-6">
      <form action="/employee/search" method="get" class="w-100">
        <div class="input-group" style="float: right; width: 50%">
          <input type="text" class="form-control mt-2 mb-2 ms-2" placeholder="Search here" id="input-search"
                 name="input-search">
          <button class="btn btn-outline-secondary mt-2 mb-2 me-2" type="submit" id="button-addon2">Search
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="table-list-employee">
    <div class="col-12">
      <table class="table table-hover" id="table-employee">
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>ID Card</th>
          <th>Position</th>
          <th>Division</th>
          <th>Education</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>NV-0001</td>
          <td>Minh Đạt</td>
          <td>147852369</td>
          <td>Phục vụ</td>
          <td>Phục vụ</td>
          <td>THPT</td>
          <td>
            <input type="checkbox">
          </td>
        </tr>
        <tr>
          <td>NV-0002</td>
          <td>Lê Ly</td>
          <td>147854569</td>
          <td>Lễ tân</td>
          <td>Lễ tân</td>
          <td>Đại học</td>
          <td>
            <input type="checkbox">
          </td>
        </tr>
        </tbody>
      </table>
      <!--Multiple delete-->
      <button class="btn btn-danger d-flex position-absolute w-auto" style="right: 16px" id="btn-multi-delete"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
        Multi Delete
      </button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
       data-bs-keyboard="false" aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Confirm?</h5>
        </div>
        <div class="modal-body">
          Are you sure to delete employee(s)?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-confirm-no">No
          </button>
          <button type="button" class="btn btn-danger" id="btn-confirm-yes" data-bs-dismiss="modal">Yes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Hết model-->
</div>
