<h3 class="text-center" mat-dialog-title>CUSTOMER DETAIL</h3>
<mat-dialog-content>
  <table class="table w-100">
    <tr>
      <th class="w-25 m-2">Số xe</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.id">
      </td>
    </tr>
    <tr>
      <th class="w-25 m-2">Loại xe</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.type.name">
      </td>
    </tr>
    <tr>
      <th class="w-25 m-2">Tên nhà xe</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.name">
      </td>
    </tr>
    <tr>
      <th class="w-25 m-2">Điểm đến</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.startPlace">
      </td>
    </tr>
    <tr>
      <th class="w-25 m-2">Điểm đi</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.endPlace">
      </td>
    </tr>
    <tr>
      <th class="w-25 m-2">Số điện thoại</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.phone">
      </td>
    </tr>
    <tr>
      <th class="w-25 m-2">Email</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.email">
      </td>
    </tr>
    <tr>
      <th class="w-25 m-2">Giờ đi</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.timeStart">
      </td>
    </tr>
    <tr>
      <th class="w-25 m-2">Giờ đến</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.timeEnd">
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
  <button mat-button mat-dialog-close="edit" class="btn btn-warning m-1">Edit</button>
  <button mat-button mat-dialog-close class="btn btn-secondary m-1">Back</button>
</mat-dialog-actions>
