<h3 class="text-center" mat-dialog-title>CUSTOMER DETAIL</h3>
<mat-dialog-content>
  <table class="table w-100">
    <tr>
      <th class="w-25 m-2">ID</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.id">
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.name">
      </td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled
               [value]="data.gender == 0 ? 'Female' : (data.gender == 1 ? 'Male' : 'Other')">
      </td>
    </tr>
    <tr>
      <th>Type</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.type.name">
      </td>
    </tr>
    <tr>
      <th>Birthday</th>
      <td>
        <input type="date" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.birthday">
      </td>
    </tr>
    <tr>
      <th>ID Card</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.idCard">
      </td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.phone">
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.email">
      </td>
    </tr>
    <tr>
      <th>Address</th>
      <td>
        <input type="text" class="form-control mb-1 border-0 w-100 bg-white" disabled [value]="data.address">
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
  <button mat-button mat-dialog-close="edit" class="btn btn-warning m-1">Edit</button>
  <button mat-button mat-dialog-close class="btn btn-secondary m-1">Back</button>
</mat-dialog-actions>
