<div class="container-fluid m-0 p-0">
  <div class="row mt-3">
    <div class="col-12 text-center">
      <h1>CONTRACT</h1>
    </div>
  </div>
  <!--Create and Search-->
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary m-2">
        <a href="/contract/create" class="text-decoration-none text-white">Create</a>
      </button>
    </div>
    <div class="col-6">
      <form action="/contract/search" method="get" class="w-100">
        <div class="input-group" style="float: right; width: 50%">
          <input type="text" class="form-control mt-2 mb-2 ms-2" placeholder="Search here" id="input-search"
                 name="input-search">
          <button class="btn btn-outline-secondary mt-2 mb-2 me-2" type="submit" id="button-addon2">Button
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="table-list-contract">
    <div class="col-12">
      <table class="table table-hover" id="table-contract">
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Total money</th>
          <th>Customer</th>
          <th>Service</th>
          <th class="col-2">Attach service</th>
          <th style="width: 5%"></th>
          <th style="width: 5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="align-middle">
          <td>HD01</td>
          <td>01/01/2020</td>
          <td>01/01/2021</td>
          <td>5000000</td>
          <td>Khách hàng 1</td>
          <td>Dịch vụ 1</td>
          <td>
            <select class="form-select border-0 bg-white" readonly="true">
              <option selected>2 dịch vụ đi kèm</option>
              <option class="bg-secondary text-white" style="pointer-events: none" disabled>Nước uống</option>
              <option class="bg-secondary text-white" style="pointer-events: none" disabled>Karaoke</option>
            </select>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-sm">
              <a class="text-decoration-none text-white">Add A-T</a>
            </button>
          </td>
          <td>
            <input type="checkbox">
          </td>
        </tr>
        </tbody>
      </table>

      <!--Multiple delete-->
      <button class="btn btn-danger d-flex position-absolute w-auto" style="right: 16px" id="btn-multi-delete"
              data-bs-toggle="modal" data-bs-target="#exampleModal">Delete
      </button>
    </div>
  </div>

  <!--Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
       data-bs-keyboard="false" aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Confirm?</h5>
        </div>
        <div class="modal-body">
          Are you sure to delete contract(s)?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-confirm-no">No
          </button>
          <button type="button" class="btn btn-danger" id="btn-confirm-yes" data-bs-dismiss="modal">Yes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Hết modal-->
</div>
