<div class="d-flex justify-content-center">
  <form [formGroup]="registerForm" class="m-5 w-50">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             formControlName="email">
      <div class="form-text text-danger" *ngIf="registerForm.controls.email.hasError('required')
      && registerForm.controls.email.dirty">Input email!
      </div>
      <div class="form-text text-danger"
           *ngIf="registerForm.controls.email.hasError('email')">Wrong format!
      </div>
    </div>
    <div formGroupName="passwordGroup">
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div class="form-text text-danger"
             *ngIf="registerForm.hasError('required',['passwordGroup'])
           && registerForm.get('passwordGroup').touched">Please input password!
        </div>
        <div class="form-text text-danger"
             *ngIf="registerForm.hasError('minLength',['passwordGroup'])
           && registerForm.get('passwordGroup').touched">Min length is 6!
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
        <div class="form-text text-danger"
             *ngIf="registerForm.hasError('passnotmatch', ['passwordGroup'])
           && registerForm.get('passwordGroup').touched">Password doesn't match!
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <input type="text" class="form-control" id="country" formControlName="country">
      <div class="form-text text-danger"
           *ngIf="registerForm.controls.country.hasError('required')
           && registerForm.controls.country.dirty">Input country!
      </div>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input type="number" class="form-control" id="age" formControlName="age">
      <div class="form-text text-danger"
           *ngIf="registerForm.controls.age.hasError('required')
           && registerForm.controls.age.dirty">Input age!
      </div>
      <div class="form-text text-danger"
           *ngIf="registerForm.controls.age.hasError('min')">Min age is 18!
      </div>
    </div>
    <div class="mb-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="inlineRadio1" value="Male" formControlName="gender">
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="inlineRadio2" value="Female" formControlName="gender">
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>
      <div class="form-text text-danger"
           *ngIf="registerForm.controls.gender.hasError('required')
           && registerForm.controls.gender.dirty">Choose gender!
      </div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input type="text" class="form-control" id="phone" formControlName="phone">
      <div class="form-text text-danger"
           *ngIf="registerForm.controls.phone.hasError('required')
           && registerForm.controls.phone.dirty">Input phone!
      </div>
      <div class="form-text text-danger"
           *ngIf="registerForm.controls.phone.hasError('pattern')">Wrong format phone!
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="registerForm.invalid" (click)="saveInfo()">Register</button>
  </form>
</div>
